<div class="row">
<div class="col-md-9 col-sm-9 blog-posts">
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %> blog-item" itemscope itemprop="blogPost">
  <div class="article-meta">
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
    <header class="article-header">
      <ul class="blog-info">
	<li><i class="fa fa-user"></i> <%- post.author || theme.default_author || "Anonymous" %></li>
	<li><i class="fa fa-calendar"></i>
	  <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY/MM/DD'}) %>
	</li>
	<li class="hidden-xs"><i class="fa fa-comments"></i>
	  <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
	</li>
	<li class="hidden-xs"><i class="fa fa-tags"></i>
	  <%- partial('post/tag') %>
	</li>
  <li><a href="#pembagi_url">Bagikan artikel ini?</a></li>
      </ul>
      <%- partial('_partial/post/category') %>
    </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
  </div>
</article>
<br/>
<div id='pembagi_url'>
  <%- partial('post/share-options') %>
</div>
<br/>
<div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</div>
<br/>
<div>
  <script data-cfasync='false' type='text/javascript' src='//p287733.clksite.com/adServe/banners?tid=287733_558148_0' async></script>
</div>
<br/>
<% if (post.comments && theme.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<br>
<% } %>

</div>
<div class="col-md-3 col-sm-3 blog-sidebar">
  <%- partial('sidebar') %>
</div>
</div>
