<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<!--[if lt IE 9]>
<%- js('metronic/assets/plugins/respond.min.js') %>
<![endif]-->
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js' async></script><%- js('metronic/assets/plugins/bootstrap/js/bootstrap.min.js') %>
<%- js('metronic/assets/corporate/scripts/back-to-top.js') %>
<%- js('metronic/assets/corporate/scripts/layout.js') %>

<% if (theme.fancybox){ %>
  <%- css('fancybox/jquery.fancybox') %>
  <%- js('fancybox/jquery.fancybox.pack') %>
<% } %>
<!-- END CORE PLUGINS -->

<!-- BEGIN PAGE-SPECIFIC PLUGINS -->
<% if (page.title == "Projects"){ %>
  <%- js('metronic/assets/plugins/jquery-mixitup/jquery.mixitup.min.js') %>
  <%- js('metronic/assets/pages/scripts/portfolio.js') %>
  <script>
    Portfolio.init();
  </script>
<% } %>



<% if (page.layout == "contact"){ %>
  <%- js('http://maps.google.com/maps/api/js?sensor=true') %>
  <%- js('metronic/assets/plugins/gmaps/gmaps.js') %>
  <script>
    var map;
    $(document).ready(function(){
      map = new GMaps({
	    div: '#map',
	    lat: <%= theme.lat %>,
	    lng: <%= theme.long %>,
      });
       var marker = map.addMarker({
	lat: <%= theme.lat %>,
	lng: <%= theme.long %>,
	title: "<%= config.title %>",
	infoWindow: {
	    content: "<%- '<b>' + config.title + '</b><br>' + theme.address_1 +
	    "<br>" + theme.address_2 + "<br>" + theme.address_3 %>"
	}
    });

       marker.infoWindow.open(map, marker);
    });
  </script>
<% } %>


<!-- END PAGE-SPECIFIC PLUGINS -->

<!-- BEGIN INTEGRATIONS -->
<% if (theme.swiftype_install_key) { %>
    <script type="text/javascript">
        (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
            e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
        })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

        _st('install','<%= theme.swiftype_install_key %>','2.0.0');
    </script>
<% } %>
<%- partial('disqus') %>
<%- partial('google-analytics') %>
<!-- END INTEGRATIONS -->
