<div class="margin-bottom-20">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blog-antaraksi -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5687863873486433"
     data-ad-slot="8882819853"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<!-- BEGIN BLOG TAGS -->
<div class="blog-tags margin-bottom-20">
  <h2>Tags</h2>
  <%- partial('_widget/tag.ejs') %>
</div>
<!-- END BLOG TAGS -->


<!-- BEGIN FEATURED POSTS -->
<h2>Featured Posts</h2>
<div class="recent-news margin-bottom-10">
  <% site.posts.each(function(post, i){ %>
    <% if (post.featured == true){ %>
      <div class="row margin-bottom-10">
	<div class="col-md-4">
	  <%- image_tag(post.thumbnail, {class: "img-responsive "}) %>
	</div>
	<div class="col-md-8">
	  <h3><a href="<%- post.permalink %>"><%- post.title %></a></h3>
	</div>
      </div>
    <% } %>
  <% }) %>
</div>
<!-- END FEATURED POSTS -->
