<div class="row" style="margin-bottom: 22px">
  <div class="col-sm-12 text-center" style="background-color: #d23846">
    <a href="https://antaraksi.com/" alt="Jasa pembuatan website" target="_blank"><img class="img-responsive" style="margin: 0 auto;" src="https://res.cloudinary.com/antaraksi/image/upload/c_scale,h_84/v1498961623/Pembuatan_REST_API_yst8hc.png" alt="jasa pembuatan web antaraksi.com"/>
  </div>
</div>
