<div class="container">
  <%- partial('_partial/top_ads_banner') %>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"><%- page.title %></li>
  </ul>
  <div class="main">
    <h1><%- page.title %></h1>
    <%- page.content %>
  </div>
</div>
